body
{
  background-color: rgb(236, 236, 236);
}
div
{
  border: 3px solid rgb(203, 197, 197);  
  border-radius:10px ;
  width: 500px;
  height: 400px;
  margin: auto;
  margin-top: 100px;
  box-shadow: 0 0 10px 2px    rgb(0, 0, 0, 0.5);
  text-align: center;
}
h1
{
margin-top: 50px;
}
input
{
border-radius: 5px;
width: 350px;
height: 35px;
}
label
{
  display: block;
  text-align: left;
  margin-left: 75px  ;
}
button
{
    font-weight: bold;
    margin-top: 45px;
    width: 150px;
    height: 30px;
  margin-left: 30px;
   align-items: center;
   border-radius: 5px;
   background-color: rgb(164, 130, 196);
  display: inline-block;
}
#Convert
{
margin-left: 10px;

}
button:hover {
    background-color: rgb(179, 160, 197);
}
button:hover
{
opacity: 0.8;
}

#result
{
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}